<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/darkmode.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/header.css') }}">
</head>
<body>
    <header id="page_header">
        <h1>{% block header_text %}{% endblock %}</h1>
    </header>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='js/api_request_funcs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/db.js') }}"></script>
</body>
</html>
